@import "normalizer";
@import "variables";
@import "mixins-app";

body {
 /* background-color: $bkg-body;*/
}

a {
  text-decoration: none;
  color: black;
}

#layout {
  @include displayParams(false);

  .header {
    width: 100%;

    &::after {
      display: block;
      width: 80%;
      margin:10px auto;
      content: " ";
      border-bottom: 4px dotted $banner-color;
    }

    #banner {
      @include dimension(40px);
      @include displayParams(true);
      justify-content: space-between;
      background-color: $banner-color;
      margin: 0 auto;

      .title {
        width: 480%;
        text-align: center;
        text-shadow: 1px 1px 2px #a09c8b;
        font-size: 1.4em;
      }
      .logo, .basket {
        width: 40%;
        text-align: center;
      }
      .title, .logo, .basket {
        padding: 10px;
      }
      .basket {
        cursor: pointer;
      }
      .logo {
        margin-top: -10px;
      }
    }
  }

  .section {
    margin-top: 30px;
    @include displayParams(true);
    .widget {
      @include wrapper(20%);
      height: 350px;

      .separator {
        width: 100%;
        padding-bottom: 10px;
        border-bottom: .5px solid $separator;

        h4 {
          margin: 5px 0;
          text-decoration: underline;
        }

        .form {
          width: 100%;
          margin: 10px 0;
          text-align: center;
        }
      }

      .filter-books {
        @include displayParams(true);
        align-items: center;

        label {
          padding-left: 10px;
          text-transform: capitalize;
        }
      }
    }

    .aside {
      @include wrapper(76%);
      min-height: 90vh;

      .books-list {
        @include displayParams(true);
        flex-flow:  row wrap;
        justify-content: space-around;
        margin: 10px 6px;

        .card-body {
          width: 100%;
          background-color: #f3f2eb;
          h3 {
            @include customerTitle(84%, 1.4em);
            padding: 5px;
          }
          div {
            @include customerTitle(14%, 1.4em);
            text-align: left;
            padding-top: 6px;
            padding-right: 4px;
          }
        }
        hr {
          width: 80%;
          margin: -5px auto;
          border: 1px dotted #fff;
        }
        .synopsis {
          @include customerText();
          margin-top: 10px;
          padding: 4px;
        }
      }

      .book-detail {
        >div {
          padding: 12px;
        }
        h3 {
          @include customerTitle(100%, 1.4em);
          padding: 5px;
        }
        .price {
          @include customerTitle(14%, 1.4em);
          text-align: left;
          padding-top: 6px;
          padding-right: 4px;
        }
        p {
          @include customerText();
          margin: 8px 0;
        }
        .form {
          margin-top: 10px;
        }
      }

      .basket-wrap  {
        width: 70%;
        margin-top: 10px;
        @include displayParams(true);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px, rgba(0, 0, 0, 0.16) 0px 2px 5px;

        .basket-details {
          @include displayParams(true);
          width: 100%;
          padding-top: 20px;
          margin-left: 10px;

          .title {
            width: 35%;
          }

          .promotion {
            width: 65%;
            .basket-price {
              @include displayParams(true);
              width: 150%;

              .reduction, .count, .total {
                @include decorationBlock();
              }
              .price {
                width: 10%;
                color: #ff8080
              }
              .reduction {
                width: 20%;
                span {
                  width: 50%;
                  text-align: right;
                  @include decorationBlock();
                }
                .price-init {
                  text-decoration: line-through;
                }
              }
              .count {
                width: 15%;
                span {
                  display: inline-block;
                  padding: 0 10px;
                  font-size: 1.2em;
                  cursor: pointer;
                }
              }
              .total {
                width: 30%;
                font-weight: bold;
                text-align: right;
              }
            }
            .delete {
              cursor: pointer;
              display: flex;
            }
          }
        }
      }
      .basket-separate {
        width: 80%;
        margin: 10px auto
      }

      .total-global {
        width: 70%;
        text-align: right;
        padding-right: 5px;
        margin: 10px 0;

        span {
          font-weight: bold;
        }
      }
    }
  }

  .footer {
    @include dimension(30px);
  }
}

.wrap-modal {
  position: absolute;
  z-index: 998;
  background: rgba(215, 209, 209, .4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;

  .modal {
    position: absolute;
    width: 30%;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px, rgba(0, 0, 0, 0.16) 0px 2px 5px;
    transform: translate(120%, 10%);

    .head-modal, .footer-modal {
      @include displayParams(true)
    }

    .footer-modal {
      justify-content: end;
    }
  }
}



