@mixin wrapper($n) {
  width: $n;
  border: 1px solid #fcf4f4;
  margin: 5px;
  padding: 3px 8px;
  border-radius: 5px;
  background-color: #eef3f2;
}

@mixin dimension($n){
  height: $n;
  width: 100%;
}

@mixin displayParams($n){
  display: flex;
  @if($n == true) {
    flex-direction: row;
  }
  @else {
    flex-direction: column;
  }
}

@mixin customerTitle($n, $fz) {
  width: $n;
  font-size: $fz;
  font-weight: bold;
}

@mixin customerText() {
  text-align: justify;
  text-indent: 40px;
  letter-spacing: 1px;
}

@mixin decorationBlock() {
  margin: 0 10px;
  padding: 2px;
}
